accelerate==0.25.0
imagesize==1.4.1
Pillow==10.2.0
pyparsing==3.1.1
PySide6==6.6.1
transformers==4.36.2

# bitsandbytes
scipy==1.11.4
bitsandbytes==0.42.0; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.2.post2-py3-none-win_amd64.whl; platform_system == "Windows"

# PyTorch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2; platform_system != "Windows"
torch==2.1.2+cu121; platform_system == "Windows"
